@model Deploy.ViewModel.TenantDeploys

@{
    ViewData["Title"] = "DeploymentCreate";
}

<h2>Deployment List</h2>
<p>
    You are currently working in company: <span style="font-weight:bold;font-size:20px;">@Html.DisplayFor(Model => Model.TennantName)</span>
</p>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Create New Deployment</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group hidden">
            <label asp-for="TennantID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TennantID" class="form-control" />
                <span asp-validation-for="TennantID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeployName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DeployName" class="form-control">
                    <option value="Identity Small">Identity Small</option>
                    <option value="Identity Medium">Identity Medium</option>
                    <option value="RDS Small">RDS Small</option>
                    <option value="RDS Medium">RDS Medium</option>
                    <option value="RDS Small Solution">RDS Small Solution</option>
                </select>
            </div>
        </div>
        <div class="form-group hidden">
            <label asp-for="DeploySaved" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeploySaved" class="form-control" />
                <span asp-validation-for="DeploySaved" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group hidden">
            <label asp-for="AzureDeployName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AzureDeployName" class="form-control" />
                <span asp-validation-for="AzureDeployName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                <a asp-action="CreateRedirect" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-triangle-left"></span> Back</a>


            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="CreateRedirect" asp-route-id="@Model.TennantID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
