@{
    ViewData["Title"] = "Azure App Registration";
}

<h2>Azure App Registration</h2>
<p>The below PowerShell script is needed to be run to create the Azure App Registration.
    This allows us to connect to the customer Azure tenant and run the relevant deployment scripts.
</p>
<div>
    <h3>Indivudual Customers NOT CSP</h3>
    Login-AzAccount
    Get-AzSubscrition 
    (Get-AzSubscription)[i] | Select-AzSubscription     (i being the index of the required subscription)

    <h2>CSP Customer</h2>
    $Creds = New-Object -TypeName System.Management.Automation.PSCredential -ArgumentList $UserName , $Password
    Connect-MsolService -Credential $creds
    $tenID = Get-MsolPartnerContract -DomainName $Dom | select-object tenantId
    $acc = Add-AzureRmAccount -TenantId $tenID.TenantId -Credential $creds
    $sub = Get-AzureRmSubscription -TenantId $tenID.TenantId
    Select-AzureRmSubscription -SubscriptionId $sub.SubscriptionId

    <h3>Create ADApplication</h3>
    $Display = 'Deployment'
    $Homepage = 'https://www.cobweb.com/Deployment'
    $app = New-AzADApplication -DisplayName $Display -HomePage $Homepage -IdentifierUris $Homepage

    <h2>Create the App Secret and add to Application</h2>
    $securePassword = ConvertTo-SecureString "Password" -AsPlainText -Force
    New-AzADAppCredential -ObjectId $app.ObjectId -Password $securePassword

    <h3>Create the Service Principal and assign Contributor Role</h3>
    New-AzADServicePrincipal -ApplicationId $app.ApplicationId
    New-AzRoleAssignment -RoleDefinitonName Contributor -ServicePrincipalName $app.ApplicationId

</div>
<div>
    <a asp-action="Index" class="btn btn-primary navbtn"><span class="glyphicon glyphicon-triangle-left"></span> Back</a>
</div>
